{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1 class="mb-4">About Us</h1>
<div class="row align-items-center mb-5">
    <div class="col-md-6">
        <h2>Our Mission</h2>
        <p>We aim to provide the best service possible, offering personalized solutions to each of our clients. Our aim is to reach beyond the normal drudge of everyday companies and corporations, and talk face to face to people who are listening. From simple analytical inquiries to more complex project ideas, we want to give our customers the answers they crave. Accuracy Above All.</p>
    </div>
    <div class="col-md-6">
        <img src="https://storage.googleapis.com/djangojsmedia/misc/IMG-20221008-WA0002.jpg" alt="Our Mission" class="img-fluid rounded">
    </div>
</div>
<div class="row align-items-center mb-5">
    <div class="col-md-6 order-md-2">
        <h2>Our Team</h2>
        <p>Our team is part of the GSD club, if you've heard of it. Fast-paced and goal-focused, but still low-budget and informal enough to give the value you deserve. With degrees in engineering and data science and over 10 years of industry experience, we are geared to hit the ground running and start mapping your solution from steps A, B, and C all the way to X, Y, and Z. We each make a commitment to "Accuracy Above All" and strive to find the most correct answer you seek.</p>
    </div>
    <div class="col-md-6 order-md-1">
        <img src="https://storage.googleapis.com/djangojsmedia/misc/IMG_9018.jpg" alt="Our Team" class="img-fluid rounded">
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-6">
        <h2>Our Experience</h2>
        <p>Our team provides a bit of a "jack-of-all-trades" approach to engineering. Primarily experienced with software and data solutions, we've created automated data pipelines for our customers that result in Tableau dashboards from which they can derive unique insights. Cloud administration, data pipelines, ETL automation, and visualization are all key skillsets. We've helped cusomers with pressure/volume analysis as well as modeling and simulation of mechanical systems, for any more-mechanical-focused needs. We also have extensive experience with 3D and CAD Modeling and can help anyone achieve the 3D prints or other 3D models they seek. Please reach out to submit an inquiriy for our services! </p>
    </div>
    <div class="col-md-6">
        <img src="https://storage.googleapis.com/djangojsmedia/misc/20240809_204125.jpg" alt="Our History" class="img-fluid rounded">
    </div>
</div>
{% endblock %}
