{% extends 'base.html' %}

{% block title %}Media - Photo Feed{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Photo Feed</h1>
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ photo.image }}" class="card-img-top" alt="{{ photo.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.title }}</h5>
                    <p class="card-text">{{ photo.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
